@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); 

/* universal selector */
* {
    font-size: 14px;
    font-family: 'Poppins', sans-serif; 
    
    color: white;
    text-align:center;
}

body {
    margin:30px;
    padding: 30px;
    position: relative;
    min-height: 100vh;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('bg-img.avif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: blur(5px);
    z-index: -1;
}

h1 {
    font-size: large;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.5);
}
#name-heading {
    margin-top: 30px;
    margin-bottom: -10px;
}
#title-heading {
    margin-bottom: 30px;
}

p {
     margin-top: -10px;
     font-size: small;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.5);
}

.profile{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.btn{
    display: block;
    text-decoration: none ;
    padding:30px;
    color:black;
    background: white;
    margin:25px;
    box-shadow:5px 10px #888888;
    cursor: pointer;
    transition: transform 0.3s;
}
.btn:hover {
    background: #2e4854;
    color: white;
    border: 2px solid white;
    transition: 0.35s;
    transform: translateY(-8px);
}

.social-icons{
    margin-top: 30px;
    margin-bottom: 30px;
}

.social-icon {
    margin: 15px;
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 32px;
    height: 32px;
}
.social-icon:hover {
    transform: translateY(-8px) scale(1.4);
}